<div class="wrapper main-content-maestros">
  <div class="header-home-maestros">
  </div>
  <div class="body-maestros">
    <!-- Encabezado con los títulos de bienvenida y rol del usuario -->
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <span class="title-perfil">Bienvenido {{name_user}}</span>
        <br>
        <span class="title-perfil">{{rol}}</span>
      </div>
    </div>
    <!-- Contenedor para las tarjetas de maestros -->
    <div class="container">
      <div class="row mt-3 mb-5" style="text-align: center;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de maestros registrados</span>
          </div>
        </div>
        <!-- Colocamos la tabla de maestros -->
        <ng-container *ngIf="lista_maestros.length > 0; else noData">
          <div class="table-scroll-wrapper">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" style="min-width: 1200px; width: 100%;">
                <!-- 1era columna -->
                <ng-container matColumnDef="id_trabajador">
                    <th mat-header-cell *matHeaderCellDef> ID trabajador </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_trabajador}} </td>
                </ng-container>

                <!-- 2da columna -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
                </ng-container>

                <!-- 3era columna -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- 4ta columna -->
                <ng-container matColumnDef="fecha_nacimiento">
                    <th mat-header-cell *matHeaderCellDef> Fecha nacimiento </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento | date: 'dd/MM/yyyy':'UTC'}} </td>
                </ng-container>

                <!-- 5ta columna -->
                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                  <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                </ng-container>

                <!-- 6ta columna -->
                <ng-container matColumnDef="rfc">
                    <th mat-header-cell *matHeaderCellDef> RFC </th>
                    <td mat-cell *matCellDef="let element"> {{element.rfc}} </td>
                </ng-container>

                <!-- 7ma columna -->
                <ng-container matColumnDef="cubiculo">
                    <th mat-header-cell *matHeaderCellDef> Cubículo </th>
                    <td mat-cell *matCellDef="let element"> {{element.cubiculo}} </td>
                </ng-container>

                <!-- 8va columna -->
                <ng-container matColumnDef="area_investigacion">
                  <th mat-header-cell *matHeaderCellDef> Área de investigación </th>
                  <td mat-cell *matCellDef="let element"> {{element.area_investigacion}} </td>
                </ng-container>

                <!-- 9a columna - Editar -->
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                  <td mat-cell *matCellDef="let element" class="td-editar">
                    <i class="bi bi-pencil-square" (click)="goEditar(element.id)"></i>
                  </td>
                </ng-container>

                <!-- 10a columna - Eliminar -->
                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                  <td mat-cell *matCellDef="let element" class="td-eliminar">
                    <i class="bi bi-trash3-fill" (click)="delete(element.id)"></i>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <!-- Colocamos la paginación de la tabla -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements" style="min-width: 1200px; width: 100%;">
            </mat-paginator>
          </div>
        </ng-container>
        <ng-template #noData>
          <div class="col-12">
            <div class="alert alert-warning" role="alert">
              No hay maestros registrados.
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
